/* Step 1 */
@keyframes shown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hiden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Step 2 */
@keyframes backgroundShow {
  0% {
    background-size: 200% 100%;
    background-position: left bottom;
  }

  100% {
    background-position: right bottom;
    background-size: 100% 100%;
  }
}
/*Line Animation & sliding text box*/
@keyframes animate1 {
  0% {
    height: 0px;
  }
  100% {
    height: 50px;
  }
}
@keyframes animate2 {
  0% {
    width: 0px;
  }
  100% {
    width: 750px;
  }
}
@keyframes animate3 {
  0% {
    height: 0px;
  }
  100% {
    height: 390px;
  }
}
@keyframes animate4 {
  0% {
    width: 0px;
  }
  100% {
    width: 752px;
  }
}
@keyframes animate5 {
  0% {
    height: 0px;
  }
  100% {
    height: 50px;
  }
}
@keyframes animate6 {
  0% {
    width: 0px;
  }

  5.38% {
    width: 580px;
  }
  5.4% {
    width: 0;
  }
  100% {
  }
}
@keyframes animate7 {
  0% {
    width: 0px;
  }

  100% {
    width: 560px;
  }
}
